cloudgraph-config/src/main/resources/cloudgraph-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.cloudgraph.org/config"
    xmlns:cloudgraph="http://www.cloudgraph.org/config"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
    <xsd:complexType name="CloudGraphConfiguration">
        <xsd:annotation>
            <xsd:documentation>
Top level configuration settings
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexContent>
            <xsd:extension base="cloudgraph:Configuration">
<xsd:sequence>
<xsd:element name="Table" type="cloudgraph:Table" minOccurs="1" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
         
    </xsd:complexType>

    <xsd:element name="CloudGraphConfiguration" type="cloudgraph:CloudGraphConfiguration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="Table">
        <xsd:annotation>
            <xsd:documentation>
Configuration settings for a table.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexContent>
            <xsd:extension base="cloudgraph:Configuration">
<xsd:sequence>
<xsd:element name="HashAlgorithm" type="cloudgraph:HashAlgorithm" minOccurs="0" maxOccurs="1">
<xsd:annotation>
<xsd:documentation>The non-cryptographic hash algorithm settings used within the context of this HTable</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DataGraph" type="cloudgraph:DataGraph" minOccurs="1" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
  <xsd:attribute name="name" type="xsd:string" use="required">
<xsd:annotation>
<xsd:documentation>The table name</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
  <xsd:attribute name="dataColumnFamilyName" type="xsd:string" use="required">
<xsd:annotation>
<xsd:documentation>The name of the column family used for data</xsd:documentation>
</xsd:annotation>
</xsd:attribute>    
</xsd:extension>
        </xsd:complexContent>
         
    </xsd:complexType>

    <xsd:element name="Table" type="cloudgraph:Table">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
 
    <xsd:complexType name="DataGraph">
        <xsd:annotation>
            <xsd:documentation>Configuration settings for an SDO Data Graph</xsd:documentation>
        </xsd:annotation>

        <xsd:complexContent>
            <xsd:extension base="cloudgraph:Configuration">
<xsd:sequence>
<xsd:element name="RowKeyModel" type="cloudgraph:RowKeyModel" minOccurs="1" maxOccurs="1">
<xsd:annotation>
<xsd:documentation>The composite row-key model settings for this cloudgraph.</xsd:documentation>
</xsd:annotation>
</xsd:element>  
<xsd:element name="ColumnKeyModel" type="cloudgraph:ColumnKeyModel" minOccurs="1" maxOccurs="1">
<xsd:annotation>
<xsd:documentation>The composite column-key model settings for this cloudgraph.</xsd:documentation>
</xsd:annotation>
</xsd:element>  
</xsd:sequence>
  <xsd:attribute name="uri" type="xsd:string" use="required">
<xsd:annotation>
<xsd:documentation>The SDO namespace URI for a specific Data Graph stored within this table.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
  <xsd:attribute name="type" type="xsd:string" use="required">
<xsd:annotation>
<xsd:documentation>
The (root) SDO Type for a specific Data Graph stored within this
table. Multiple cloudgraph configurations with the same root type
may be used within the same table configuration, but the URI must
differ. The SDO specification requires the URI/Type-Name combination
to be unique.
                        </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
        </xsd:complexContent>
         
    </xsd:complexType>

    <xsd:element name="DataGraph" type="cloudgraph:DataGraph">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="HashAlgorithm">
        <xsd:annotation>
            <xsd:documentation>Configuration settings for the non-cryptographic hash algorithm used within the given context</xsd:documentation>
        </xsd:annotation>

        <xsd:attribute name="name" type="cloudgraph:HashAlgorithmName" use="required">
            <xsd:annotation>
                <xsd:documentation>The name of the non-cryptographic hash algorithm.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="HashAlgorithm" type="cloudgraph:HashAlgorithm">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="RowKeyModel">
        <xsd:annotation>
            <xsd:documentation>
Specifies the composite row-key generation characteristics for a
specific data graph (cloudgraph). The characteristics for each pre-defined
field may be specified and any number of user-defined fields
may also be added to the row key. Each user defined field maps
a property within the cloudgraph (data graph) to a position
within the composite row key, adding another "dimension" to the
key. For HBase, this user defined composite row-key approach enables the partial key-scan functionality
which greatly improves query performance. For query properties within a "Where"
clause restriction not found in the composite row-key, a column scan is required.
cloudgraph first looks for a composite row-key field matching the query property, but if not
found creates a column scan for the property.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RowKeyField" type="cloudgraph:RowKeyField" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The settings for a pre-defined field within this row-key model.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserDefinedField" type="cloudgraph:UserDefinedField" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The settings for a user-defined field within this composite row-key model.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="fieldDelimiter" type="xsd:string" use="optional" default=":">
            <xsd:annotation>
                <xsd:documentation>The delimiter used to seperate fields within the row keys</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sectionDelimiter" type="xsd:string" use="optional" default="#">
            <xsd:annotation>
                <xsd:documentation>The delimiter used to seperate the metadata and data row key sections</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
                
    </xsd:complexType>

    <xsd:element name="RowKeyModel" type="cloudgraph:RowKeyModel">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="RowKeyField">
        <xsd:annotation>
            <xsd:documentation>The settings for one pre-defined field within a composite row-key.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="cloudgraph:PreDefinedFieldName" use="required">
            <xsd:annotation>
                <xsd:documentation></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="hash" type="xsd:boolean" use="optional" default="false">
            <xsd:annotation>
                <xsd:documentation>Whether to apply the specified non-cryptographic hash algorithm to this field</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="RowKeyField" type="cloudgraph:RowKeyField">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="UserDefinedField">
        <xsd:annotation>
            <xsd:documentation>
The settings for one user-defined field within a
composite row-key. Each user defined field maps
a property within the cloudgraph (data graph) to a position
within the composite row key, adding another "dimension" to the
key. In HBase for example, this user defined composite row-key approach enables the HBase partial key-scan functionality
which greatly improves query performance. For query properties within a "Where"
clause restriction not found in the composite row-key, a column scan is required.
cloudgraph first looks for a composite row-key field matching the query property. If found
within the cloudgraph configuration a partial row-scan is invoked, but if not
found cloudgraph invokes a column scan for the query property.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="path" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
An SDO XPath expression which identifies an
SDO property, the value of which to be used as a composite
row-key element or field. The XPath expression may traverse any
number of nodes within the data graph and may contain any number of
predicates.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="hash" type="xsd:boolean" use="optional" default="false">
            <xsd:annotation>
                <xsd:documentation>Whether to apply the specified non-cryptographic hash algorithm to this field</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="UserDefinedField" type="cloudgraph:UserDefinedField">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ColumnKeyModel">
        <xsd:annotation>
            <xsd:documentation>
Specifies the composite column-key generation characteristics for a
specific data graph (cloudgraph). The characteristics for each pre-defined
column field may be specified.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ColumnKeyField" type="cloudgraph:ColumnKeyField" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The settings for a pre-defined field within this column-key model.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="fieldDelimiter" type="xsd:string" use="optional" default=":">
            <xsd:annotation>
                <xsd:documentation>The delimiter used to seperate fields within the column keys</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sectionDelimiter" type="xsd:string" use="optional" default="#">
            <xsd:annotation>
                <xsd:documentation>The delimiter used to seperate the metadata and data column key sections</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
                
    </xsd:complexType>

    <xsd:element name="ColumnKeyModel" type="cloudgraph:ColumnKeyModel">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ColumnKeyField">
        <xsd:annotation>
            <xsd:documentation>The settings for one pre-defined field within a composite column-key.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="cloudgraph:PreDefinedFieldName" use="required">
            <xsd:annotation>
                <xsd:documentation></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="hash" type="xsd:boolean" use="optional" default="false">
            <xsd:annotation>
                <xsd:documentation>Whether to apply the specified non-cryptographic hash algorithm to this field</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="ColumnKeyField" type="cloudgraph:ColumnKeyField">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>







        
    <!-- complex types used in extensions -->
    <xsd:complexType name="Configuration">
        <xsd:annotation>
            <xsd:documentation>A base configuration used an an extension for most configuration elements</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Property" type="cloudgraph:Property" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
     
    <xsd:element name="Configuration" type="cloudgraph:Configuration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

<xsd:complexType name="Property">
<xsd:annotation><xsd:documentation>defines a property element with both content and attributes</xsd:documentation></xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:extension>    
</xsd:simpleContent>
</xsd:complexType>

    <xsd:element name="Property" type="cloudgraph:Property">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:simpleType name="HashAlgorithmName">
        <xsd:annotation>
            <xsd:documentation>Supported non-cryptographic hash algorithms</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="murmur" />
            <xsd:enumeration value="jenkins" />
        </xsd:restriction>
    </xsd:simpleType>
      
    <xsd:simpleType name="PreDefinedFieldName">
        <xsd:annotation>
            <xsd:documentation>Composite pre-defined row key field names</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="uri">
                <xsd:annotation><xsd:documentation>The universal resource identifier pre-defined field name</xsd:documentation></xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="type">
                <xsd:annotation><xsd:documentation>The SDO Type name pre-defined field name</xsd:documentation></xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="uuid">
                <xsd:annotation><xsd:documentation>The universal unique ID pre-defined field name</xsd:documentation></xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="property">
                <xsd:annotation><xsd:documentation>The SDO Property name</xsd:documentation></xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>